@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --lime: #90b15b;
  --mustard: #dbc783;
  --water: #75a4c0;
  --apple: #c07575;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #333;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app {
  max-width: 1020px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  gap: 24px;
}
.container {
  width: 1000px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}
.box {
  width: 20px;
  height: 20px;
  border: 1px solid #928f8f;
  cursor: pointer;
}

.controls {
  display: flex;
  width: 100%;
}
.color-picker {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.color {
  width: 32px;
  border: 1px solid #928f8f;
  height: 32px;
  border: 1px solid #928f8f;
  border-radius: 50%;
  cursor: pointer;
}
.lime,
#lime {
  background-color: var(--lime);
  border: 1px solid var(--lime);
}
.mustard,
#mustard {
  background-color: var(--mustard);
  border: 1px solid var(--mustard);
}
.water,
#water {
  background-color: var(--water);
  border: 1px solid var(--water);
}
.apple,
#apple {
  background-color: var(--apple);
  border: 1px solid var(--apple);
}
.none {
  background-color: unset;
}
.picked {
  border: 4px solid #ffffff !important;
}
.keycap {
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 6px 8px;
  margin: 0 4px;
}

.modal {
  box-sizing: unset;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}
.m-container {
  height: auto;
  width: 40%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  position: relative;

  text-align: center;
  line-height: 1.5;
}
.opened {
  display: flex;
  justify-content: center;
  align-items: center;
}
#agree {
  margin-top: 1rem;
  padding: 8px;
  font-family: "Inter", serif;
  cursor: pointer;
  border-radius: 8px;
}

.sorry {
  display: none;
}
@media screen and (max-width: 1019px), screen and (max-height: 620px) {
  .app {
    display: none;
  }
  .sorry {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 0.75rem;
    text-align: center;
  }
}
